# https://docs.github.com/en/code-security/code-scanning/introduction-to-code-scanning/about-code-scanning
# code scan 只能用于公开项目，所以在这里新增一个自定义的 gosec

name: Gosec

on:
  pull_request_review:
    types:
      - submitted
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.golangci.yml'
      - '.github/workflows/golang.yml'
      - '.github/workflows/gosec.yml'

permissions:
  contents: read
  pull-requests: write

jobs:
  main:
    if: github.event.review.state == 'APPROVED' && !contains(github.event.pull_request.title, '(sub)') && !contains(github.event.pull_request.labels.*.name, 'approved')
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Add Approve Label
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              labels: ['approved']
            })
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          # we let the report trigger content trigger a failure using the GitHub Security features.
          args: "-exclude=G101,G107 -no-fail -fmt sarif -out results.sarif ./..."
